extends layout

block content
	div(id="map_canvas")
	a(id="abouttog", href="#") About
	div(id="about")
		a(class="close")[X]
		h3 STATUS: 
			span(class="up") Active
		h3 What is this?
		p This is an adaptation of <a href="http://www.sflivebus.com/">SFLiveBus</a> for Portland Trimet(public transportation).
		h3 What is to come?
		p Buses get updated in pseudo real time, what more do you want. Added transit layer, removed icons, and made the bubbles smaller, max trains are now clearly labeled as MAX. Buses are now stored by vehicle number, and not grouped by route to make less work on me.
		p It runs on node, using the <a href="http://firebase.com">Firebase</a> platform on both front/backend.
		p 
			a(href="https://twitter.com/browniefed") Twitter at me
		a(href="https://github.com/browniefed/livemet") 
			img(alt="Download from GitHub",src="http://www.firepad.io/images/download.png")
	script(src="javascripts/marker.js")
	script(src="javascripts/firebus.js")