doctype 5
html
  head
    title FireMet PDX
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(property="title", content="FireMet - Portland TriMet live map")
    meta(property="description", content="Watch all maxes, buses, and street cars in realtime.")
    meta(property="og:title", content="FireMet - Portland TriMet live map")
    meta(property="og:image", content="http://i.imgur.com/7XVHsgW.png")
    meta(property="og:description", content="Watch all maxes, buses, and street cars in realtime.")
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBUSSjNNBtwnXy_ck3lrH9qtXuFPib3GEg&sensor=false&language=en")
    script(src="https://cdn.firebase.com/v0/firebase.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.0/jquery.min.js")
    script(src="/javascripts/ga.js")

  body(onload="initialize()")
    block content