html { height: 100% }
body { height: 100%; margin: 0; padding: 0;  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }
#map_canvas { height: 100%; width:100%; }
#outbound { background-color: #7094FF; }
#inbound { background-color: #FF6262; }
#about { z-index: 9000; position: absolute; right: 25px; top: 60px; background: #eee; font-family: sans-serif; width: 300px; padding: 1em; opacity: 0.85; }
.down {
color:#FF6262;
}
.up {
	color:#7094FF;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	#about 
	{
		display:none;
	}
}